/* === Base === */
* { font-family: sans-serif; }

body {
  background-color: #d6ecff; /* light blue */
}

/* === Element selectors from Page 2 === */
header {
  background-color: lightgreen;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

/* === Images === */
img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.button {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin: 10px;
}
.button a { color: white; text-decoration: ivory; }

.list {
    font-size: 18px;
    margin-left: 20px;
    background-color:beige
}

.Achievemnts_List {
  font-size: 18px;
  margin-left: 20px;
  background-color:dimgray;
  color: greenyellow;
}

.Comparison_List {
  font-size: 18px;
  margin-left: 20px;
  background-color:lightgray
}

.Paragraph {
  font-size: 17px;
  margin-left: 2px;
  background-color:lightcyan;
}

#deadlift_main {
  font-size: 17px;
  margin-left: 0px;
  border: 5px solid black;
}

#deadlift_header {
  font-size: 25px;
  margin-left: 0px;
  background-color:lightgreen;
  text-align: center;
}

#deadlift_recap_section {
  font-size: 17px;
  margin-left: 0px;
  border: 3px solid black;
}

#deadlift_recap_list {
  font-size: 18px;
  margin-left: 20px;
  background-color:lightgray
}

#deadlift_footer {
  font-size: 17px;
  margin-left: 0px;
  background-color:lightgreen;
  text-align: center;
}

#boxing_main {
  font-size: 17px;
  margin-left: 0px;
  border: 5px solid black;
}

#boxing_header {
  font-size: 25px;
  margin-left: 0px;
  background-color:lightgreen;
  text-align: center;
}

#boxing_recap_section {
  font-size: 17px;
  margin-left: 0px;
  border: 3px solid black;
}

#boxing_recap_list {
  font-size: 18px;
  margin-left: 20px;
  background-color:lightgray
}

#boxing_footer {
  font-size: 17px;
  margin-left: 0px;
  background-color:lightgreen;
  text-align: center;
}

#comeback_main {
  font-size: 17px;
  margin-left: 0px;
  border: 5px solid black;
}

#comeback_header {
  font-size: 25px;
  margin-left: 0px;
  background-color:lightgreen;
  text-align: center;
}
#comeback_accomplishments_section {
  font-size: 17px;
  margin-left: 0px;
  border: 3px solid black;
}
#comeback_accomplishments_list {
  font-size: 18px;
  margin-left: 20px;
}
#comeback_conclusion_section {
  font-size: 17px;
  margin-left: 0px;
  border: 3px solid black;
}
#comeback_comparison_section {
  display:flex;
  font-size: 17px;
  margin-left: 0px;
  border: 3px solid black;
}

#comeback_comparison_list, #comeback_progess_list {
  flex:1;
  font-size: 18px;
}

#comeback_progress_section {
  font-size: 17px;
  margin-left: 0px;
  border: 3px solid black;
}

#comeback_footer {
  font-size: 17px;
  margin-left: 0px;
  background-color:lightgreen;
  text-align: center;
}

/* === Class selectors from Page 3 === */
